APP_PORT=3000
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="ragembed"
GITHUB_REPO="ElephantTower/RAGEmbed-main"
RELEASE_TAG="db"
DUMP_FILENAME="db_dump.backup"
DUMP_PATH="/dumps/db_dump.backup"